<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>
  <p>description: <%= @event.description %></p>
  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>
    <p>Date: <%= @event.starts_at.strftime('%m/%d/%Y') %></p>

    <li><%= !@event.includes_food ? ("<s>food</s>").html_safe : "Food" %></li>
        <li><%= !@event.includes_drinks ? ("<del>drinks</del>").html_safe : "Drinks" %></li>
        <h4>Photos</h4>
        <% @event.photos.each do |photo| %>
          <%= image_tag photo.image %>
        <% end %>
  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
